.pdf-container {
}

.canvas-container {
  padding: 0px;
  margin: 0px;
}

.canvas-element{
  margin: 0px;
  padding: 0px;
}
/*.card-canvas:hover {
  opacity: .9;
  filter: brightness(90%);
}*/
.card-canvas:hover .canvas-element{
  webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 5px 5px 6px #AAAAAA;
  z-index: 2;
  opacity: 1;
}
.card-canvas {
  z-index: unset;
}

.card-au-survol {
  display: none;
}
