<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Mot de passe oublié?</h1>
              <p class="text-muted">Désolé, veuillez contactez votre administrateur pour résoudre ce cas. <i class="fas fa-lock"></i><i class="fas fa-unlock"></i></p>
              <br><br><br>
              <h4 class="align-bottom align-baseline text-center mb-0">
                <a routerLink="/login">Se connecter</a>
              </h4>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div style="margin-top: 0%;">
                <br>
                <br>
                <img src="assets/img/brand/techicA/logo2.png" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
