<div class="col-12 col-md-12" style="padding: 0px;">
  <div class="card">
    <div class="card-header">Tous les utilisateurs</div>
    <div class="card-body">
      <div class="row">
        <h5 *ngIf="users.length===0" class="text-center text-warning">{{message}}</h5>
        <table *ngIf="users.length!==0"
          class="table table-responsive-sm table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nom Utilisateur</th>
            <th>Droit d'accès</th>
            <th>Date d'expiration</th>
            <th>Status</th>
            <th>Activer/Désactiver</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{i + 1}}</td>
            <td>{{user.username}}</td>
            <td>{{(user.categorie === 'admin')?'Administrateur': 'Utilisateur'}}</td>
            <td>
              <span class="d-block">{{user.date_expiration}}</span>
              <span *ngIf="user.delai_en_jour && user.delai_en_jour >0" class="card-block alert-info">Dans {{user.delai_en_jour}} jour(s)</span>
              <span *ngIf="user.delai_en_jour && user.delai_en_jour <=0" class="card-block alert-danger">Déjà expiré</span>
            </td>
            <td>
              <span [class]="user.etat === 'active' ? 'badge badge-success' : 'badge badge-danger'">
                {{user.etat}}
              </span>
            </td>
            <td class="text-center">
              <label class="switch switch-3d switch-primary">
                <input class="switch-input" type="checkbox" #etat (click)="setStatusCompte(user.id, etat)"  [checked]="user.etat==='active'" [disabled]="connectedUser.username===user.username">
                <span class="switch-slider"></span>
              </label>
            </td>
            <td>
              <button  (click)="modifierUtilisateur(user.id)"
                       [disabled]="connectedUser.username===user.username"
                       class="btn btn-pill btn-sm btn-outline-primary cui-pencil mr-1 mb-1">
                Modifier
              </button>
              <button  (click)="supprimerUtilisateur(user.id)"
                       [disabled]="connectedUser.username===user.username"
                       class="btn btn-pill btn-sm btn-outline-danger icon-trash mr-1 mb-1">
                Supprimer
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
