<div class="app flex-row">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h4>Nouveau Document</h4>
                        <hr>
                        <br>
                        <form [formGroup]="pdfForm" (ngSubmit)="onSavePdf()">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="titre">Titre du document</label>
                            <div class="col-md-9">
                              <input formControlName="titre" id="titre" type="text" required/>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="categorie">Catégorie</label>
                            <div class="col-md-4">
                              <select class="form-control" id="categorie" formControlName="categorie">
                                <option value="Inconnue" [selected]="true">Aucune Catégorie</option>
                                <option *ngFor="let cat of categories; let i = index" [value]="cat.designation">{{cat.designation}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="description">Courte description</label>
                            <div class="col-md-9">
                              <textarea formControlName="description" id="description" rows="3" required></textarea>
                            </div>
                          </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">Charger votre fichier</label>
                                <div class="col-md-9">
                                   <input formControlName="pdf_document"
                                          name="pdf_document"
                                          (change)="detectFiles($event)"
                                          accept="application/pdf" type="file" />
                                </div>
                            </div>
                            <h5 class="text-danger text-center">{{message}}</h5>
                            <h6 class="text-success" *ngIf="fileUploaded">Chargement du fichier achevé.</h6>
                            <h5 *ngIf="fileIsUploading">Chargement du fichier ...</h5>
                            <div *ngIf="fileIsUploading" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                            <div style="margin: 7px;">
                              <button class="btn btn-block btn-success" [disabled]="pdfForm.invalid" type="submit">Terminer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
