<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h4>Nouveau Document</h4>
                        <form [formGroup]="pdfForm" (ngSubmit)="onSavePdf()">
                          <div class="form-group row">
                            <div class="col-md-9">
                              <input formControlName="titre" placeholder="Titre du document" type="text" required/>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-9">
                              <input formControlName="description" placeholder="Courte description" type="text" maxlength="255" />
                            </div>
                          </div>
                            <div class="form-group row">
                                <div class="col-md-9">
                                   <input formControlName="pdf_document"
                                          name="pdf_document"
                                          (change)="detectFiles($event)"
                                          accept="application/pdf" type="file" />
                                </div>
                            </div>
                            <h6 class="text-success" *ngIf="fileUploaded">Chargement du fichier achevé.</h6>
                            <h5 *ngIf="fileIsUploading">Chargement du fichier ...</h5>
                            <div *ngIf="fileIsUploading" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                            <div style="margin: 7px;"><button class="btn btn-block btn-success" [disabled]="pdfForm.invalid" type="submit">Terminer</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
