.btn-ctrl {
  margin-left: 5px;
}

@media screen and (max-width: 992px) {

  .pdf-container {
    width: 100%;
    padding: 0px;
  }
  .fadeIn {
    width: 100%;
    padding: 0px;
  }

  .btn-control-mobil {
    display: block;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .on-mobile-ctrl{
    position: fixed;
    right: 5px;
    top: 5px;
  }

}

.btn-control-mobil {
  display: none;
}

@media screen and (min-width: 993px) {
  .on-mobile-ctrl{
    display: none;
  }
}
