<div class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <header class="app-header navbar" style="padding-right: 10px;">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img class="navbar-brand-full" src="assets/img/brand/techicA/logo3.png" width="89" height="25" alt="CoreUI Logo">
      <img class="navbar-brand-minimized" src="assets/img/brand/techicA/logo2.png" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a class="nav-link" href="#">Accueil</a>
      </li>
    </ul>
    <ul class="on-mobile-ctrl">
      <li class="d-md-down-none">
        <a class="btn btn-pill btn-outline-dark btn-block active">
          <i class="nav-icon icon-control-forward"></i>
        </a>
      </li>
      <li class="d-md-down-none">
        <a class="btn btn-pill btn-outline-dark btn-block active">
          <i class="nav-icon fa-backward"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" *ngIf="ctrlBtnVisible === true">
      <li class="nav-item d-md-down-none btn-ctrl">
        <a (click)="zoomMoins()"
           class="btn btn-pill btn-outline-dark btn-block active">
          <i class="fa fa-search-minus"></i>
        </a>
      </li>
      <li class="nav-item d-md-down-none btn-ctrl">
        <a (click)="zoomPlus()"
           class="btn btn-pill btn-outline-dark btn-block active">
          <i class="fa fa-search-plus"></i>
        </a>
      </li>
      <li class="nav-item d-sm-down-none btn-ctrl">
        <a (click)="goToPagePrecedent()"
          class="btn btn-pill btn-outline-dark btn-block active">
          <i class="fa fa-backward"></i>
        </a>
      </li>
      <li class="nav-item d-sm-down-none btn-ctrl">
        <a (click)="goToPageSuivante()"
          class="btn btn-pill btn-outline-dark btn-block active">
          <i class="fa fa-forward"></i>
        </a>
      </li>
      <li class="nav-item d-sm-down-none btn-ctrl">
        <input #pageX
               [value]="(state && state.pdf)?this.pdfService.state.currentPage + '/' + state.pdf._pdfInfo.numPages: ''"
               class="form-control"
               (focus)="pageX.value=''"
               id="page-number" type="text"
               placeholder="Numéro de la page">
      </li>
      <li class="nav-item d-md-down-none btn-ctrl">
        <a (click)="goToPageX(pageX.value)"
          class="btn btn-pill btn-outline-dark btn-block active">
          Aller
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" *ngIf="ctrlBtnVisible !== true">
      <li class="nav-item d-sm-down-none btn-ctrl">
        <input #rechercherDoc class="form-control" id="rechercher-doc"
               type="text"
               name="input2-group2" placeholder="Rechercher un document">
      </li>
      <li class="nav-item d-sm-down-none btn-ctrl">
        <a (click)="rechercherPdf(rechercherDoc.value)"
           [class]="authService.user.etat === 'active' ? 'btn btn-pill btn-outline-dark btn-block active' : 'btn btn-pill btn-outline-dark btn-block disabled'">
          Chercher
        </a>
      </li>
    </ul>
  </header>
  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle">
              <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="">
              <span class="" style="padding-left: 5px;">Mon compte</span></a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">
                  <i class="nav-icon icon-people"></i> Profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">
                  <i class="nav-icon icon-settings"></i> Paramètre</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" (click)="changerTextEntete('Tous les documents')"
               routerLink="/all-documents">
              <i class="nav-icon fas fa-home"></i>Paneau Principal
            </a>
          </li>
          <li class="nav-item" *ngIf="categorie==='admin'">
            <a class="nav-link" (click)="changerTextEntete('Ajouter un document')"
               routerLink="/ajouter-document">
              <i class="nav-icon fas fa-file-medical"></i>Ajouter document</a>
          </li>
          <li class="nav-item" *ngIf="categorie==='admin'">
            <a class="nav-link" (click)="changerTextEntete('Documents')"
               routerLink="/all-documents-admin-panel">
              <i class="nav-icon icon-docs"></i>Documents</a>
          </li>

          <li class="nav-item" *ngIf="categorie==='admin'">
            <a class="nav-link" (click)="changerTextEntete('Catégories')"
               routerLink="/ajouter-categorie">
              <i class="nav-icon fas fa-object-group"></i>Catégories</a>
          </li>
          <li class="nav-item" *ngIf="categorie==='admin'">
            <a class="nav-link" (click)="changerTextEntete('Ajouter un utilisateur')"
               routerLink="/ajouter-lecteur">
              <i class="nav-icon fas fa-user-plus"></i>Ajouter utilisateur</a>
          </li>
          <li class="nav-item" *ngIf="categorie==='admin'">
            <a class="nav-link" (click)="changerTextEntete('Voir les utilisateurs')"
               routerLink="/all-utilisateurs">
              <i class="nav-icon fas fa-users"></i>Voir les utilisateur</a>
          </li>
          <li class="divider bg-gray"></li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/login">
              <i class="nav-icon fas fa-sign-out-alt"></i>Déconnexion</a>
          </li>
          <li class="divider bg-gray"></li>
          <li class="nav-title"><i class="nav-icon fas fa-history"></i> Récents</li>
          <li class="nav-item" *ngFor="let doc of pdfService.historiques; let i = index" (click)="onPdfClick(doc.id)">
            <a class="nav-link text-truncate text-break">
              <i class="nav-icon icon-doc"></i>{{doc.titre}}</a>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
      <!-- Breadcrumb-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Techica</a>
        </li>
        <li class="breadcrumb-item">
          {{user}}
        </li>
        <li class="breadcrumb-item active">{{route}}</li>
      </ol>
      <div class="container-fluid  pdf-container">
        <div class="animated fadeIn">
          <!-- /.row-->
          <router-outlet></router-outlet>
          <!-- /.row-->
        </div>
      </div>
    </main>
  </div>
  <footer class="app-footer">
    <div>
      <a>Natdiv</a>
      <span>&copy; 2019 creativeLabs.</span>
    </div>
    <!--div class="ml-auto">
      <span>Solutionné par</span>
      <a routerLink="/"> Natdiv</a>
    </div-->
  </footer>

</div>
